/*
 Team: 6
 City: Dallas
 Members:
 		Aksheta Mehta (620522) 	
 		Arun Hariharan Sivasubramaniyan (662528)
 		Bruno de Assis Marques (659338)
 		Jordan Burdett (392025)
 		Yanyi Liang (642967)
*/

.button{
 position: relative;
 /* bring your own prefixes */
 transform: translate(-50%, -50%);
 text-decoration:none;
 text-align:center; 
 padding:11px 32px; 
 border:solid 1px #004F72; 
 -webkit-border-radius:4px;
 -moz-border-radius:4px; 
 border-radius: 4px; 
 font:18px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#E5FFFF; 
 background-color:#3bc74c; 
 background-image: -moz-linear-gradient(top, #3bc74c 0%, #19a52a 100%); 
 background-image: -webkit-linear-gradient(top, #3bc74c 0%, #19a52a 100%); 
 background-image: -o-linear-gradient(top, #3bc74c 0%, #19a52a 100%); 
 background-image: -ms-linear-gradient(top, #3bc74c 0% ,#19a52a 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19a52a', endColorstr='#19a52a',GradientType=0 ); 
 background-image: linear-gradient(top, #3bc74c 0% ,#19a52a 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
  
  }

.button:hover{
 padding:11px 32px; 
 border:solid 1px #004F72; 
 -webkit-border-radius:4px;
 -moz-border-radius:4px; 
 border-radius: 4px; 
 font:18px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#E5FFFF; 
 background-color:#269e34; 
 background-image: -moz-linear-gradient(top, #269e34 0%, #0d6e18 100%); 
 background-image: -webkit-linear-gradient(top, #269e34 0%, #0d6e18 100%); 
 background-image: -o-linear-gradient(top, #269e34 0%, #0d6e18 100%); 
 background-image: -ms-linear-gradient(top, #269e34 0% ,#0d6e18 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d6e18', endColorstr='#0d6e18',GradientType=0 ); 
 background-image: linear-gradient(top, #269e34 0% ,#0d6e18 100%);   
 -webkit-box-shadow:4px 5px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 4px 5px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:4px 5px 2px #bababa, inset 0px 0px 1px #ffffff;  
  
 }

.button:active{
 padding:11px 32px; 
 border:solid 1px #004F72; 
 -webkit-border-radius:4px;
 -moz-border-radius:4px; 
 border-radius: 4px; 
 font:18px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#E5FFFF; 
 background-color:#3bc74c; 
 background-image: -moz-linear-gradient(top, #3bc74c 0%, #19a52a 100%); 
 background-image: -webkit-linear-gradient(top, #3bc74c 0%, #19a52a 100%); 
 background-image: -o-linear-gradient(top, #3bc74c 0%, #19a52a 100%); 
 background-image: -ms-linear-gradient(top, #3bc74c 0% ,#19a52a 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19a52a', endColorstr='#19a52a',GradientType=0 ); 
 background-image: linear-gradient(top, #3bc74c 0% ,#19a52a 100%);   
 -webkit-box-shadow:20px 20px 20px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 20px 20px 20px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:20px 20px 20px #bababa, inset 0px 0px 1px #ffffff;  
  
 }

 .button2{
 position: absolute;
 top: 20px;
 right: 0;
 transform: translate(-50%, -50%);
 text-decoration:none;
 text-align:center; 
 padding:5px 5px; 
 border:solid 1px #004F72; 
 -webkit-border-radius:4px;
 -moz-border-radius:4px; 
 border-radius: 4px; 
 font:12px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#E5FFFF; 
 background-color:#3bc74c; 
 background-image: -moz-linear-gradient(top, #3bc74c 0%, #19a52a 100%); 
 background-image: -webkit-linear-gradient(top, #3bc74c 0%, #19a52a 100%); 
 background-image: -o-linear-gradient(top, #3bc74c 0%, #19a52a 100%); 
 background-image: -ms-linear-gradient(top, #3bc74c 0% ,#19a52a 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19a52a', endColorstr='#19a52a',GradientType=0 ); 
 background-image: linear-gradient(top, #3bc74c 0% ,#19a52a 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
  
  }

.button2:hover{
 border:solid 1px #004F72; 
 -webkit-border-radius:4px;
 -moz-border-radius:4px; 
 border-radius: 4px; 
 font:12px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#E5FFFF; 
 background-color:#269e34; 
 background-image: -moz-linear-gradient(top, #269e34 0%, #0d6e18 100%); 
 background-image: -webkit-linear-gradient(top, #269e34 0%, #0d6e18 100%); 
 background-image: -o-linear-gradient(top, #269e34 0%, #0d6e18 100%); 
 background-image: -ms-linear-gradient(top, #269e34 0% ,#0d6e18 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d6e18', endColorstr='#0d6e18',GradientType=0 ); 
 background-image: linear-gradient(top, #269e34 0% ,#0d6e18 100%);   
 -webkit-box-shadow:4px 5px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 4px 5px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:4px 5px 2px #bababa, inset 0px 0px 1px #ffffff;  
  
 }

.button2:active{
 border:solid 1px #004F72; 
 -webkit-border-radius:4px;
 -moz-border-radius:4px; 
 border-radius: 4px; 
 font:12px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#E5FFFF; 
 background-color:#3bc74c; 
 background-image: -moz-linear-gradient(top, #3bc74c 0%, #19a52a 100%); 
 background-image: -webkit-linear-gradient(top, #3bc74c 0%, #19a52a 100%); 
 background-image: -o-linear-gradient(top, #3bc74c 0%, #19a52a 100%); 
 background-image: -ms-linear-gradient(top, #3bc74c 0% ,#19a52a 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19a52a', endColorstr='#19a52a',GradientType=0 ); 
 background-image: linear-gradient(top, #3bc74c 0% ,#19a52a 100%);   
 -webkit-box-shadow:20px 20px 20px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 20px 20px 20px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:20px 20px 20px #bababa, inset 0px 0px 1px #ffffff;  
  
 }

#heading {
  font-family:Kondolar-Regular, Georgia, serif;
  text-shadow: 1px 1px 0 #FFFFFF, 2px 2px 0 #000000;
  text-align: center;
}
#heading2{
  position: relative;
  top:30px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  font-family:Kondolar-Regular, Georgia, serif;
  text-align: center;
}

#menu {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  }

  #userdata,#overallchart{
  position: relative;
  top:10px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  border: 1px solid #e3e3e3;
  background-color: #f2f2f2;
        width: 50%;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
}

#morningchart, #afternoonchart, #eveningchart, #nightchart{
  float:left;
  background-color: #f2f2f2;
  min-height: 300px;
  min-width: 300px;
}

#userdata td, #userdata th, #morning td, #morning th, #afternoon td, #afternoon th,
#evening td, #evening th, #night td, #night th
 {
  padding: 5px;
  color: #FFFFFF;
  text-align: center;
}
#userdata thead, #morning thead, #afternoon thead, #evening thead, #night thead {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  padding: .2em 0 .2em .5em;
  text-align: center;
  color: #000000;
  background-color: #43BFC7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#46C7C7), to(#43C6DB), color-stop(.6,#43BFC7));
  background-image: -moz-linear-gradient(top, #46C7C7, #43BFC7, #43C6DB 90%);
  border-bottom: solid 1px #999;
}
#userdata th, #morning th, #afternoon th, #evening th, #night th {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 17px;
  line-height: 20px;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  text-shadow: gray 1px 1px 1px;
}
#userdata td, #morning td, #afternoon td, #evening td, #night td {
  line-height: 20px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000000;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
}
#userdata td:hover, #morning td:hover, #afternoon td:hover, 
#evening td:hover, #night td:hover {
  background-color: #fff;
}


#overview, #morningpie, #afternoonpie, #eveningpie, #nightpie, #chart_div, #chart_div2 {
  position: relative;
  top:30;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}}